@mixin text-hover-lighten($color) {
    transition: color 100ms ease-in-out;
    color: $color;
    cursor: pointer;

    &:hover {
        color: lighten($color, 30%);
        text-decoration: underline;
    }
}
