@import '../../styles/consts/colors';
@import '../../styles/helpers/mixins';

.category-info {
    padding: 10px;
    max-width: 400px;
    margin: 20px auto 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &__text {
        padding: 10px;
    }

    &__change-button {
        align-self: flex-end;
        margin-top: 20px;

        @include button-only-border($gray-dark)
    }
}
