@import '../../styles/consts/colors';
@import '../../styles/helpers/mixins';

.single-category-option {
    width: 50%;
    min-width: 200px;
    box-sizing: border-box;
    padding: 10px;

    @include text-hover($gray-dark);
}